/* entire container, keeps perspective */

.fbd-flip-container {
    perspective: 1000px;
}


/* flip the pane when hovered */


/* .fbd-flip-container:hover .fbd-flipper,
.fbd-flip-container.hover .fbd-flipper {
    transform: rotateY(180deg);
} */

.fbd-flip-container,
.fbd-front,
.fbd-back {
    width: inherit;
    height: inherit;
}


/* flip speed goes here */

.fbd-flipper {
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}


/* hide back of pane during swap */

.fbd-front,
.fbd-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}


/* front pane, placed above back */

.fbd-front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}


/* back, initially hidden pane */

.fbd-back {
    transform: rotateY(180deg);
}


/* .fbd-flip-container:hover .fbd-flipper,
.fbd-flip-container.hover .fbd-flipper, */

.fbd-flip-container.fbd-flip .fbd-flipper {
    transform: rotateY(180deg);
}